:root{
    --light: white;
    --dark: rgb(61, 61, 61);
    --ban:aqua;
}

*{
 padding: 0px;
 margin: 0px;  
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p{
    font-size:20px;
}

h1{
    display: flex;
    font-size: 50px;
    color: var(--dark);    
    padding: 15px;    
    margin-bottom:auto;
}

h2{
    color: var(--light);
}

h3{
    display: flex;
    font-size: 30px;
    padding: 15px;    
    margin-bottom:auto;
}

a{
    color: skyblue;    
    font-weight: bolder;
}


/*navigation stuff*/
.banner{
    display:flex;
    flex-direction: row;
    background-color: var(--dark);
    width: 100%;
}

.botbanner{
    display:flex;
    flex-direction: row;
    background-color: var(--dark);
    width: 100%;
    margin-top: 20px;
}

.nameplate{
    display: inline-flex;
    text-align: center;   
    margin-top: 10px;     
    background-color: skyblue;
}

.topnavbar{
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 5%;
    margin-top: auto;
}

.botnavbar{
    display: inline-flex;   
    flex-direction: row;
    margin-top: auto;
    margin-left: 10%;    
    margin-right: auto;
}

.navbutton{
    display: flex;        
    padding: 5px;
    margin: 20px;    
    text-decoration-line: underline;
    text-align: center;
    font-size: 25px;   
}

.navbutton:hover{
    color: tan;
}

.tickertape{
    display: flex;
    background-color: rgb(150, 75, 75);
    width: 100%;
    height: 7em;  
}

.alert{
    display: inline-flex;   
    flex-direction: row;    
    margin-left: auto;    
    margin-right: 5%;    
    margin-top: 20px;
}

/*main section*/

.nameplate1{
    grid-area: sidebar1;
    border-right: 2px solid rgb(0, 38, 48);
    height: 50%;
    margin: 2%
}

.nameplate2{
    grid-area: sidebar2;
    border-right: 2px solid rgb(0, 38, 48);
    height: 90%;
    margin: 2%
}

.content1{
    grid-area: main1;
    width: 80%;
    height: 20%
}

.content2{
    grid-area: main2;
    justify-self: stretch;
    grid-template-columns: 1fr 1fr
}

.thegrid{
    display: grid;
    grid-template-columns: .33fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr;
    grid-template-areas:
    "sidebar1 main1 main1"
    "sidebar2 main2 main2"  
    "sidebar2 main2 main2"  
}

.mainfeature{
    width: fit-content;       
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: fit-content;
}

figure{
    position: relative;
    border: 5px;
    border-style: solid;
    border-color: gray;
    margin: 5px;         
}

img{
    display:block;
    filter: saturate(.1);       
}

img:hover{
    display:block;
    filter: saturate(1); 
    transition: all .8s ease-in-out;    
}

figcaption{
    z-index: 5;    
    position: absolute;
    bottom: 20%;
    color: white;
    background-color: rgb(19, 48, 48);
}

.contact{
    display: inline-flex;
    text-align: center;   
    margin-top: auto;     
    padding: 20px;  
}


/*adaptive screen stuff */

/*mobile phone viewing*/
@media screen and (max-width: 768px){
    main, .banner, .botbanner, .topnavbar, .botnavbar, .gallery{
        display: grid;
        width:100%;
        grid-template-columns:repeat(12, 1fr);        
        margin-left: auto;
        margin-right: auto;
    }
}

/*tablet viewing*/
@media screen and (max-width: 992px){
    main, .banner, .botbanner, .topnavbar, .botnavbar, .gallery{
        display: flex;
        flex-direction: column;
    }
}

/*desktop viewing*/
@media screen and (min-width: 992px){
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }  
}

